@model PBMS_beta3A.Model.RequisitarMaterial

@{
    ViewBag.Title = "RequisitarMaterial";
}

<h2>Requisição de Material</h2>

<script type="text/javascript">

    function Requistar() {

         var GETTapelido = null;
         var GETnome    = null;

         GETapelido = document.getElementById("RespApelido").value;

         GETnome = document.getElementById("RespNome").value;
        
        /*----------------------------------------------------------END----------------------------------------------------*/

        /*------------------Lê a opção que foi solicitada e faz o metódo AJAX para devolver o HTML------------------------*/

        $.ajax({
            type: 'GET', url: '/GestaoDeSites/ValidarDadosDoResponsavel',
            dataType: 'html',
            cache: false,
            async: true,
            data: { mambo: GETapelido, nome: GETnome },
            success: function (data)
            { $('#ValidarRequisicao_HTML').html(data); }
        });
    }

</script>

<!-----------------------------------------------código javascript----------------------------------------------->

<!-----------------------------------------------Código HTML DA VISTA--------------------------------------------->
<br />
<br />
<div id="ValidarResp_3">

 <input type="button"  id="Requisicao_1" name="ValidarRequisicao_BT"  value="VALIDAR INFO DO RESPONSÁVEL" onclick="Requistar()" />

</div>
 <div id="ValidarRequisicao_HTML">
 @{ 
     @@Html.RenderPartial("ValidarDadosDoResponsavel");
  }   
</div>