@{
    ViewBag.Title = "Home Page";
}
  <div class="main_nav_container">
    <div class="main_nav">
      <div class="cameras"></div>
      <div class="big blue_btn"><a href="/GestaoDeSites/GestaoDaListaDeSITES"><span>Ver </span><br/>
       sites Online </a></div>
      <div class="big orange_btn"><a href="/GestaoDeSites/MapaDeGeradores"><span>Mapa </span><br/>
        Geolocalização</a></div>
    </div>
    <div class="main_nav">
      <div class="registar"></div>
      <div class="big blue_btn"><a href="/GestaoDeGeradores/MostraListaDeGeradores"><span>Ver</span><br/>
        Máquinas</a></div>
      <div class="big orange_btn"><a href="/GestaoDeGeradores/GestaoDeGeradores"><span>Registar</span><br/>
       Nova Máquina</a></div>
    </div>
    <div class="main_nav">
      <div class="veiculo"></div>
      <div class="big blue_btn"><a href="/GestaoListaGeraway/IndexGestaoListaGeraway"><span>Ver</span><br/>
       Geraway</a></div>
      <div class="big orange_btn"><a href="/GestaoListaGeraway/InserirNovoGeraway"><span>Registar</span><br/>
        Geraway</a></div>
    </div>
    <div class="main_nav">
      <div class="pesquisa"></div>
      <div class="big blue_btn"><a href="/Ferramentas/NumerosDeTelefone"><span>Ver</span><br/>
       SimCard</a></div>
        <div class="big orange_btn"><a href="/Ferramentas/RegistarNumeroTelefone"><span>Registar</span><br/>
        SimCard</a></div>   
    </div>
  </div>
  <div class="clear"></div>
</div>